@using NetBankingApp.Core.Application.ViewModels.CreditCard
@using NetBankingApp.Core.Application.ViewModels.SavingAccount
@using NetBankingApp.Core.Application.ViewModels.Transaction

@model TransactionToAccountViewModel
@{
    ViewData["Title"] = "Transfer to accounts";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header card-header-color">
                    <h4>Transder to accounts</h4>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-controller="Transaction" asp-action="TransferToAccount">


                        <div class="mb-3">
                            <label asp-for="GuidAccountOrigin" class="form-label">Origin account:</label>
                            <select asp-for="GuidAccountOrigin" class="form-select">
                                <option value="0">@(Model.SavingAccounts != null && Model.SavingAccounts.Count > 0 ? "Choose one saving account" : "There's no saving accounts, sorry")</option>
                                @if (Model.SavingAccounts != null && Model.SavingAccounts.Count > 0)
                                {

                                    foreach (SavingAccountViewModel savingAccount in Model.SavingAccounts)
                                    {
                                        <option value="@savingAccount.Guid">@savingAccount.Guid</option>

                                    }
                                }

                            </select>
                            <span asp-validation-for="GuidAccountOrigin" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="GuidAccountDestination" class="form-label">Destination account:</label>
                            <select asp-for="GuidAccountDestination" class="form-select">
                                <option value="0">@(Model.SavingAccounts != null && Model.SavingAccounts.Count > 0 ? "Choose one saving account" : "There's no saving accounts, sorry")</option>
                                @if (Model.SavingAccounts != null && Model.SavingAccounts.Count > 0)
                                {

                                    foreach (SavingAccountViewModel savingAccount in Model.SavingAccounts)
                                    {
                                        <option value="@savingAccount.Guid">@savingAccount.Guid</option>

                                    }
                                }

                            </select>
                            <span asp-validation-for="GuidAccountDestination" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Amount:</label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>


                        <button type="submit" class="btn btn-success">Save</button>
                        <a asp-controller="Home" asp-action="CustomerHome" class="btn btn-warning">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

